<p id="notice"><%= notice %></p>

<h1>Usersses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usersses.each do |userss| %>
      <tr>
        <td><%= userss.name %></td>
        <td><%= userss.email %></td>
        <td><%= link_to 'Show', userss %></td>
        <td><%= link_to 'Edit', edit_userss_path(userss) %></td>
        <td><%= link_to 'Destroy', userss, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userss', new_userss_path %>
