<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @userss.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @userss.email %>
</p>

<%= link_to 'Edit', edit_userss_path(@userss) %> |
<%= link_to 'Back', usersses_path %>
