<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @micropost.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @micropost.number %>
</p>

<p>
  <strong>Userss:</strong>
  <%= @micropost.userss.name %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
